#div1{
	margin: 50px;
	padding: 20px;
	background-color: #B0E0E6;
	font-family: 'Tourney', cursive;

}
#div2{
	margin: 50px;
	padding: 10px;
	background-color: #E0FFFF;
	font-family: 'Lobster', cursive;
	font-size: 25px;

}

body{
	background-color: #F0FFF0;
}