body{
	background-color: #f9efe5;
}

#topo{
	background-color: #f6e5d5;
	width: 90%;
	height: 400px;
	margin-left: 5%;
	margin-right: 5%;
	background-image: url(BG1.png);
	background-repeat: no-repeat;
 	background-position: left;
 	background-size: contain;
 	text-align: center;
 	padding-top: 40px;
	padding-left:50px;
}

#hello{
	color:  #709cb5;
	font-family: 'Encode Sans SC', sans-serif;
	font-size: 20px;
	font-weight: bolder;

}

#estudante{
	color:  #709cb5;
	font-family: 'Encode Sans SC', sans-serif;
	font-size: 20px;

}

#nome{
	color:  darkblue;
	font-family: 'Otomanopee One', sans-serif;
	font-size: 40px;
}

#conteudo{
	background-color: #f6e5d5;
	width: 90%;
	height: 200px;
	margin-left: 5%;
	margin-right: 5%;
 	text-align: center;
 	padding-top: 10px;
 	color:  #446d85;
	font-family: 'Encode Sans SC', sans-serif;
	font-size: 30px;
}
