body{
	background-color: #f9efe5;
}


#topo{
	padding-top: 40px;
	padding-left:350px;
	background-color: #f6e5d5;
	width:70;
	height: 400px;
	margin-left: 5%;
	margin-right: 5%;
	background-image: url(BG1.png);
	background-repeat: no-repeat;
 	background-position: left;
 	background-size: contain;
 	text-align: center;


}

#hello{
	color:  #191970;
	font-family: 'Encode Sans SC', sans-serif;
	font-size: 20px;
	font-weight: bolder;

}

#estudante{
	color:  #191970;
	font-family: 'Encode Sans SC', sans-serif;
	font-size: 20px;

}

#nome{
	color:  darkblue;
	font-family: 'Otomanopee One', sans-serif;
	font-size: 40px;
	text-shadow: 5px 5px 10px gray;
}

#conteudo{
	background-color: #f6e5d5;
	width: 90%;
	/*height: 200px;*/
	margin-left: 5%;
	margin-right: 5%;
 	/*text-align: center;*/
 	padding-top: 10px;
 	color:  #446d85;
	font-family: 'Encode Sans SC', sans-serif;
	font-size: 30px;
}
